* {
    font-family: "VT323";
    margin: 0;
}

h1 {
    font-size: 35px;
    text-align: center;
    margin: 15px;
}

P {
    font-size: 20PX;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 10px;
    background-color: #5D04D9;
    color: antiquewhite;
    font-size: 30px;
    padding: 15px;
}

.cora {
    width: 30px;
    height: 30px;
}

/* ----- Main ----- */

main {
    display: flex;
    margin: 20px;
}

/*----- Productos ----*/

.productos {
    width: 60%;
    flex-grow: 1;
}

img {
    max-width: 80%;
    border-radius: 5px;
    margin: 5px;
}

.card {
    text-align: center;
    width: 20%;
    margin: 10px;
    padding: 5px;
    border: 3px solid;
    background-color: #5D04D9;
    border-radius: 10px;
    flex-grow: 1;
}

.layout {
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    padding: 25px;
    overflow-y: scroll;
}

.card-container--value {
    display: flex;
    justify-content: space-around;
}


/*----- Seccion Agregar -----*/
.agregar {
    display: flex;
    width: 30%;
    flex-direction: column;
    padding: 30px;
}

form input[type="text"] {
    display: block;
    gap: 15px;
    font-size: 16px;
    margin: auto;
    border: 2px solid #03318C;
    margin-top: 20px;
    width: 60%;
    border-radius: 18px;
    padding: 10px
}

.bot {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30%;
    margin: auto;
    margin-top: 20px;
    padding: 4px 20px 4px 20px;
    border-radius: 8px;
    border: 2px solid #03318C;
    color: #03318C;
}

#bot1 {
    color: antiquewhite;
    background-color: #03318C;
}


/*----- Footer ----*/
.pie {
    display: flex;
}

footer {
    text-align: center;
    color: antiquewhite;
    background-color: #5D04D9;
    padding: 10px;
}

h3 {
    font-size: 25px;
    margin: 5px;
}

@media (max-width:824px) {

    main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .agregar, .productos {
        width: 90%;
        margin: auto;
    }

    

}